spring:
  application:
    name: inventory-service

  # datasource config for idempotency stuff...
  datasource:
    url: jdbc:postgresql://localhost:5435/flight_inventory
    username: postgres
    password: postgres

server:
  port: 8084

# Eureka Client configuration
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${random.value}

# Docker profile
---
spring:
  config:
    activate:
      on-profile: docker
  datasource:
    url: jdbc:postgresql://inventory-db:5435/flight_inventory

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/